.modal {
	border: none;
	padding: 20px;
	margin: auto;
	min-width: 600px;
	min-height: 500px;
	overflow: auto;
	overflow-x: hidden;
	background-color: var(--bg-c);
	z-index: 9999;
	&::backdrop {
		background-color: var(--backdrop-c);
	}

	@media (max-width: 680px) {
		min-width: 300px;
	}
	@media (max-width: 480px) {
		min-width: 100px;
	}
}

.close-button {
	position: absolute;
	right: 10px;
	top: 10px;
	color: red;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
