.form {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	gap: 10px;
	margin-bottom: 10px;
}

.inputs {
	margin-bottom: 10px;

	display: flex;
	flex-direction: column;
	gap: 10px;
}

.add-button {
	padding-inline: 40px;
}

.buttons {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

.offer-modal {
	padding: 40px;
}
