.link {
	font-size: var(--fssdl);
	font-weight: bold;
	color: var(--link-c) !important;
	text-align: center;
	max-width: max-content;
	transition: 0.3s color ease-in-out;

	&:hover,
	&.active {
		color: var(--active-link-c) !important;
	}
}
