@import './styles/null.scss';
@import './styles/fonts.scss';
@import './styles/vars.scss';
body {
	font-family: var(--text-ff);
	font-size: var(--fsn);
	background-color: var(--bg-c);
	color: var(--primary-c);
}

#root {
	display: contents;
}
